/* body{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

#box1{
    background-color: rgb(233, 95, 95);
}
#box2{
    background-color: rgb(87, 87, 225);
    height: 200px;
}
#box3{
    background-color: rgb(38, 197, 38);
    height: 75px;
}
#box4{
    background-color: rgb(236, 236, 98);
}
#box5{
    background-color: rgb(77, 236, 236);
} */

/* 
.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
}
li{
    list-style-type: none;
    background-color: white;
    display: inline;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 200px;
    width: 200px;
    background-color: yellow;
} */


/* @media (width <600px){
    div{
        background-color: green;
    }
} */

/* @media (min-width:550px){
    div{
        background-color: orange;
    }
} */
/* @media(max-width:650px){
    div{
        background-color: blue;
    }
} */

/* @media (min-width:200px) and (max-width: 400px){
    div{
        background-color: indigo;
    }
} */

/* 
@media(max-width:300px){
    div{
        background-color: green;;
    }
}
@media(min-width:300px) and (max-width:400px){
    div{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    }
}
@media(min-width:600px){
    div{
        background-color: blue;
    } 
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-timing-function: 1s;

    transition: all 2s ease-in 0.5s;
}
div:hover{
    background-color: yellow;
    color: red;
    font-size: 20px;
}
div:active{
    background-color: violet;
} */


div{
    /* height: 200px;
    width: 200px;
    background-color: orange;
    border: 2px solid black;
    transition: transform 2s ease 1s ;
    position: absolute;
    top:100px;
    left: 100px; */
    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal; */

    /* animation: colorAnimate 2s linear 3s infinite normal; */
}
/* @keyframes colorAnimate{
    0%{
        left:0px;
        background-color: orange;
    }
    50%{
        font-size:40px ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    100% {
        left: 300px;
        background-color: green;;
    }
} */

/* div:hover{
    transform: rotate(30deg); 
    transform: scale3d(3,3,3);
    transform: translateY(200px);
    transform: skew(45deg);
} */

/* div:active{
    transform: scale(2);
    background-color: red;
} */

/* .loader{
    height: 500px;
    width: 500px;
    background-color: #3D74B6;
    border-radius: 50%;
    border: 20px solid #EAC8A6;
    border-top: 20px solid #DC3C22;
    animation: spinAnimate 1s ease-in 0s infinite normal;
}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */









